// COLOR - PRIMARY
$color-primary-0: #FFFFFF;
$color-primary-5: #FDEBEC;
$color-primary-10: #FCD6D8;
$color-primary-15: #FAC2C5;
$color-primary-20: #F8ADB2;
$color-primary-30: #F5858B;
$color-primary-40: #F15C65;
$color-primary-50: #EE333E;
$color-primary-60: #BE2932;
$color-primary-70: #8F1F25;
$color-primary-80: #5F1419;
$color-primary-85: #470F13;
$color-primary-90: #300A0C;
$color-primary-95: #180506;
$color-primary-100: #000000;

// COLOR - GREY
$color-grey-0: #FFFFFF;
$color-grey-5: #F3F3F3;
$color-grey-10: #E8E6E6;
$color-grey-15: #DCDADA;
$color-grey-20: #D0CDCD;
$color-grey-30: #B9B4B5;
$color-grey-40: #A19B9C;
$color-grey-50: #8A8283;
$color-grey-60: #6E6869;
$color-grey-70: #534E4F;
$color-grey-80: #373434;
$color-grey-85: #292727;
$color-grey-90: #1C1A1A;
$color-grey-95: #0E0D0D;
$color-grey-100: #000000;