@use "../../styles/variables.scss" as vars;
@use "../../styles/functions.scss" as func;

.tile {
    background-color: vars.$color-grey-0;
    border: .1rem solid vars.$color-grey-15;
    border-radius: .8rem;

    min-width: 49.6rem;

    padding: 2.4rem;

    @media (max-width: func.pxToEm(650)) {
        min-width: auto;
        width: 100%;
    }
}